<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Contoso University</title>
    @Styles.Render("~/Content/css")
	   @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <link href="~/Content/animate.css" rel="stylesheet" />
    <script src="~/Scripts/wow.js"></script>
</head>
<body>
    <div id="wrapper">
        <header>
            <div class="navbar navbar-default navbar-static-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="index.html"><img src="~/img/logo.png" alt="logo" /></a>
                    </div>
                    <div class="navbar-collapse collapse ">
                        <ul id="topnav" class="nav navbar-nav">
                            <li class="active">@Html.ActionLink("首页", "Index", "Home")</li>
                            <li>@Html.ActionLink("课程", "Index", "Course")</li>
                            <li>@Html.ActionLink("剪影", "Gallery", "Gallery")</li>
                            <li>@Html.ActionLink("关于我们", "About", "Home")</li>
                            @*<li>@Html.ActionLink("上传", "Edit", "FileUpload")</li>*@
                        </ul>
                    </div>
                </div>
            </div>
        </header>
            @RenderBody()
            <hr />
            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="widget">
                                <h5 class="widgetheading">联系方式</h5>
                                <address>
                                    <strong>Daniel </strong><br>
                                    Shijiazhuang Hebei<br>
                                    Yuhua
                                </address>
                                <p>
                                    <i class="icon-phone"></i> 18132047903 <br>
                                    <i class="icon-envelope-alt"></i> k12stem@163.com
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="widget">
                                <h5 class="widgetheading">资源链接</h5>
                                <ul class="link-list">
                                    <li><a href="https://scratch.mit.edu/">scratch</a></li>
                                    <li><a href="https://www.arduino.cc/">ardunio</a></li>
                                    <li><a href="https://www.raspberrypi.org/">raspberry pi</a></li>
                                    <li><a href="https://www.python.org">python</a></li>
                                    <li><a href="https://www.codeclubworld.org/">codeclub</a></li>
                                    <li><a href="https://code.org/">code.org</a></li>
                                    
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="widget">
                                <h5 class="widgetheading">微信订阅号</h5>
                                <ul class="link-list">
                                    <li><a href="#">
                                            <img src="~/img/qrcode.jpg" /></a></li>
                                  
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="sub-footer">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="copyright">
                                    <p>
                                        <span>Copyright &copy; 2016.Company name All rights reserved.</span>
                                    </p>
                                    <p><a target="_blank" href="http://www.4k12stem.com">http://www.4k12stem.com</a></p>
                                    <p>
                                        <span><a target="_blank" href="http://www.miitbeian.gov.cn">冀ICP备16024853号</a></span>
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <ul class="social-network">
                                    <li><a href="#" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#" data-placement="top" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#" data-placement="top" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
                                    <li><a href="#" data-placement="top" title="Google plus"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
     
    </div>
 
    @Scripts.Render("~/Scripts/jquery.flexslider.js")；
	 @Scripts.Render("~/bundles/modernizr")
    @RenderSection("scripts", required: false)
	<script src="~/Scripts/flip.js"></script>	
</body>
</html>
