
@{

    ViewBag.Title = "upload";
}

<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="pageTitle">图片库</h2>
			</div>
		</div>
	</div>
	</section>
	<div class="container">
<div class=row>
<ul class="nav nav-pills" role="tablist">
      <li role="presentation" class="active"> @Html.ActionLink("添加", "Index", "FileUpload")</li>
	   <li role="presentation"> @Html.ActionLink("修改", "Edit", "FileUpload")</li>	 
</ul>
</div>

<!-- blueimp File Upload & Gallery styles -->
@Styles.Render("~/Content/FileUpload")

@*<script>

        $(function () {
            $('#fileUpload').fileupload({
                dataType: 'json',
                done: function (e, data) {
                    $.each(data.result.files, function (index, file) {
                        $('<p/>').text(file.name).appendTo(document.body);
                    });
                }
            });
        });
    </script>*@
<script>
    $(active(1));
</script>
<script>
    var $form = null;
    $(function () {

        $form = $('#fileupload').fileupload({
            dataType: 'json'
        });

    });
    $('#fileupload').addClass('fileupload-processing');

</script>
@Html.Partial("_Files")
</div
@Scripts.Render("~/bundles/FileUpload")